* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    box-sizing: border-box;
}

.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p {
    margin: 0px;
}

h1 {
    font-size: 70px;
    margin: 10px;
}

h2 {
    font-size: 60px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: auto;

    margin: 0px;
    padding: 0px;
}
#nav li {
    z-index: 1;
    user-select: none;
}
.wrapper {
    flex: 0 0 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.page {
    flex: 0 0 50vw;
    position: relative;

    display: flex;
    flex-direction: column;
}

#landing {
    flex: 0 0 100%;
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
}

#nav {
    position: absolute;
    height: 45px;
    width: 100%;

    margin: 0px;
    margin-top: 15px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;

    list-style-type: none;
}

.nav_link {
    flex: 0 0 auto;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

li a {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    text-decoration: none;
}

#resume_li {
    flex: 0 0 90px;
}

#resume {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

#landing_content{
    flex: 1 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#landing_text {
    flex: 0 1 auto;
}

.img_mask {
    flex: 0 0 auto;
    
    width: 222px; 
    height: 222px; 
    overflow: hidden; 
    border-radius: 50%; 
    background-color: black;
} 

.img_mask img { 
    width: 100%; 
    height: auto; 
}

.circle {
    position: absolute;

    border-radius: 50%;
    background-color: black;
    opacity: 0.8;
}

#br {
    width: 85vmin;
    height: 85vmin;
    right: -42vmin;
    bottom: -42vmin;
}

#tl {
    width: 60vmin;
    height: 60vmin;
    left: -30vmin;
    top: -30vmin;
}

#about_wrapper {
    flex: 0 0 1024px;
    background-color: black
}

#about {
    color: white;

    justify-content: center;
}

#about_text {
    flex: 0 0 auto;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.paragraphs {
    flex: 0 0 25vw;

    display: flex;
    flex-direction: column;
}

#projects_wrapper {
    flex: 0 0 1024px;
}

#projects {
    flex: 0 0 50vw;
    justify-content: center;
}

#projects_text {
    position: absolute;
    top: -96px;
    left: 0px;
}

#carousel{
    flex: 0 0 500px;
    width: 100%;
    position: relative;
    border-style: solid;
    border-color: black;
    border-radius: 1rem;
    background-color: black;
}

#slider {
    display: flex;
    flex: 1 0 100%;
    height: 100%;
    color: white;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#slider div {
    flex: 1 0 100%;
    height: 100%;
    scroll-snap-align: start;
}

#slider::-webkit-scrollbar {
    display:none;
}

.slider-nav  {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav div {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav div:hover {
    opacity: 1;
}

#contact_wrapper {
    flex: 0 0 100vh;
    background-color: black;
    align-items: center;
}

#contact {
    flex: 0 0 100vh;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
    position: relative;
}

#icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

.up {
transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

#top {
    position: absolute;
    bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    user-select: none;

}

#footnote {
    position: absolute;
    bottom: 2vh;
}