/*
color scheme:
Text: #FFFFFF
Primary: #F15025
Secondary: #E6E8E6
Accent: #CED0CE
Background: #191919
*/

:root {
    --text-color: #FFFFFF;
    --primary-color: #F15025;
    --secondary-color: #E6E8E6;
    --accent-color: #CED0CE;
    --background-color: #191919;
}

* {
    color: var(--text-color)
}


html, body {
    background-color: var(--background-color);
    margin: 0px;
    height: 100%;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--accent-color);

    flex: 0 1 50px;

    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: stretch;
}

.nav_item {
    display: flex;
    flex-basis: 100px;
    align-items: stretch;
}

/*
.nav_link:hover {
    background-color: var(--accent-color);
}


#cur_link {
    background-color: var(--primary-color);
}
*/

.nav_link {
    display: grid;
    width: 100%;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.landing {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

h1, p {
    display: grid;
    align-items: center;
}

.footer {
    flex: 0 1 70px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 15px;
}

.socials {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 15px;
}

.footnote {
    text-align: center;
    padding-bottom: 5px;
}
